{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New operation{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ticker">Ticker</label>
    <input name="ticker" id="ticker" value="{{ request.form['ticker'] }}" required>
    
    <label for="price">Price</label>
    <textarea name="price" id="price">{{ request.form['price'] }}</textarea>
    
    <label for="amount">Amount</label>
    <textarea name="amount" id="amount">{{ request.form['amount'] }}</textarea>
    
    <label for="operation">Operation</label>
    <textarea name="operation" id="operation">{{ request.form['operation'] }}</textarea>

    <label for="created">Date</label>
    <textarea name="created" id="created">{{ request.form['created'] }}</textarea>
    
    <input type="submit" value="Save">
  </form>
{% endblock %}