{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    
    <label for="ticker">Ticker</label>
    <input name="ticker" id="ticker"
      value="{{ request.form['title'] or post['title'] }}" required>
    
      <label for="price">Price</label>
    <textarea name="price" id="price">{{ request.form['body'] or post['body'] }}</textarea>
    
    <label for="amount">Amount</label>
    <textarea name="amount" id="amount">{{ request.form['amount'] or post['amount'] }}</textarea>
    
    <label for="operation">Date</label>
    <textarea name="operation" id="operation">{{ request.form['operation'] or post['operation'] }}</textarea>
    
    <label for="created">Date</label>
    <textarea name="created" id="created">{{ request.form['created'] or post['created'] }}</textarea>
    
    <input type="submit" value="Save">
  
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}